* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Trebuchet MS", sans-serif;
}

.title {
  width: 100%;
  padding: 12px;
  background-color: #9acd32;
  color: #ffffff;
}

.content {
  width: 800px;
  margin-bottom: 24px;
}

.subtitle,
h2 {
  margin: 12px;
}

div ul,
div ol {
  padding: 4px 32px;
}

.breadcrumb,
img,
div p,
h4 {
  padding: 0 12px;
}

.breadcrumb {
  margin-top: 12px;
}

li,
h4 {
  margin-bottom: 12px;
}
